.category-infos{

	width: 682px;
	margin: 0 auto;
	text-align: center;

	.category-infos__name{
		.green;
		font-size: 24px;
		.regular;
	}

	.category-infos__description{
		margin-top: 40px;
		margin-bottom: 55px;
		.regular;
		font-size: 14px;
		line-height: 1.8;
	}
}

.tshirt-design{

	display: inline-block;
  	width: 100%;
  	margin-top: 0 !important;

	.tshirt-design__render{

		max-width: 440px;
		margin: 0 auto;
		position: relative;

		.tshirt__bg{
			width: 100%;
			height: auto;
		}	

		.tshirt__canvas{
			position: absolute;
			top: 95px;
			left: 118px;
		}

	}

	.tshirt-design__rules{

		margin-top: 70px !important;

		.rules__save{

			margin-top: 270px;
			text-align: center;

			// Boutons play / pause
			.btn-save{
				width: 220px;
				.extra-bold;
				font-size: 18px;
				opacity: 1;
				-webkit-transition: opacity .3s ease;
				transition: opacity .3s ease;

				&--active{
					.white;
					background-color: @green;
					padding: 10px;
					cursor: pointer;

					&:hover{
						opacity: 0.7;
					}
				}

				&--inactive{
					.green;
					border: solid 2px @green;
					padding: 8px;
					cursor: not-allowed;
				}
			}	

		}





	}

}

.propositions{

	padding: 60px 0;
	background: #1e1e1e url("../images/header_presentation.png") no-repeat top;
	background-size: 100%;
	display: inline-block;
    width: 100%;

	.propositions-none-wrapper{
		height: 332px;
		.propositions-none{
			color: @green;
			border: dashed 2px @green;
			height: 100%;
			display: block;
			text-align: center;
			.bold;
			height: 275px;
			line-height: 275px;

		}
	}

	.proposition{

		opacity:0;
		
		.proposition__visu{

			position: relative;
			cursor: pointer;
			display: block;
			width: 100%;

			img{
				position: relative;
				z-index: 1;
				height: auto;
				opacity:1;
			}

			.proposition__overlay{
				position: absolute;
				z-index: 2;
				top:0;
				left: 0;
				background-color: rgba(119, 196, 149, 0.7);
				background-image: url("../images/check.png");
				background-repeat: no-repeat;
				background-position: center center;
				background-size: 50%;
				width: 100%;
				height: 100%;
				opacity: 0;
				-webkit-transition: opacity .3s linear;
				transition: opacity .3s linear;
			}

			&:hover{

				.proposition__overlay{
					opacity: 1;
				}

			}

		}

		.delete{
			margin: 15px 0;
			display: block;
			border: solid 2px @w;
			padding: 8px 0;
			color: @w;
			.bold;
			font-size: 18px;
			position: relative;
			text-align: center;
			opacity: 0;
			-webkit-transition: opacity .3s linear;
			transition: opacity .3s linear;
			cursor: pointer;
			&:before{
				content:"";
				position: absolute;
				top: 9px;
				left: 10px;
				width: 22px;
				height: 20px;
				display: block;
				background: url('../images/croix.png') no-repeat;
				background-size: cover;
			}
		}

		&:hover{
			.delete{
				opacity: 1;
			}
		}
	}

}

.pop-up{

	height: 100%;
	width: 100%;
	background-color: rgba(0,0,0,0.8);
	position: fixed;
  	top: 0;
 	left: 0;
 	z-index: 11;
 	display: none;

	.pop-up__form{
		z-index: 9;
		width: 680px;
		margin: 0 auto;
		background-color: @w;
		padding: 30px;
  		margin: 50px auto 0;
  		text-align: center;
  		position: relative;

  		.pop_up__close{
			position: absolute;
			top: 20px;
			right: 20px;
			width: 20px;
			height: 20px;
			background: url('../images/close.png') no-repeat;
			cursor: pointer;
  		}

  		.tshirt__visu{
			display: block;
			margin: 0 auto;
  		}	

  		.tshirt__name{
  			display: block;
			width: 300px;
			text-align: center;
			margin: 20px auto 0;
			padding: 10px 4px;
  		}

		.tshirt__submit{
			margin-top: 20px;
			border: none;
		}
	}

	.pop-up__overlay{
		position: fixed;
		z-index: 8;
	}

}

.dg.ac{
	position: absolute !important;
    right: 17% !important;
    top: 530px !important;

    .dg ul{
    	height: auto !important;
    }

    .close-button{
    	display: none !important;
    }
}